apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zookeeper.fullname" . }}-config
  labels: {{- include "zookeeper.labels" . | nindent 4 }}
data:
  zoo.cfg: |
    tickTime={{ .Values.configuration.tickTime | default 2000 }}
    initLimit={{ .Values.configuration.initLimit | default 10 }}
    syncLimit={{ .Values.configuration.syncLimit | default 5 }}
    dataDir=/data
    dataLogDir=/datalog
    maxClientCnxns={{ .Values.configuration.maxClientCnxns | default 60 }}
    standaloneEnabled={{ .Values.configuration.standaloneEnabled | default false }}
    admin.enableServer={{ .Values.configuration.adminServerEnabled | default false }}
    clientPort=2181
    quorumListenOnAllIPs=true
    4lw.commands.whitelist={{ .Values.configuration.fourLetterWords | default "*" }}
    server.1={{ include "zookeeper.fullname" . }}-0.{{ include "zookeeper.headlessServiceName" . }}:2888:3888
    server.2={{ include "zookeeper.fullname" . }}-1.{{ include "zookeeper.headlessServiceName" . }}:2888:3888
    server.3={{ include "zookeeper.fullname" . }}-2.{{ include "zookeeper.headlessServiceName" . }}:2888:3888
