apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  serviceName: "kafka-headless"
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: KAFKA_MODE
          value: "kraft"
{{- if .Values.zookeeper.external }}
        - name: KAFKA_CFG_ZOOKEEPER_CONNECT
          value: "{{ .Values.zookeeper.external.hosts }}:{{ .Values.zookeeper.external.port }}"
{{- end }}
{{- range $key, $value := .Values.configuration }}
        - name: {{ $key }}
          value: "{{ $value }}"
{{- end }}
        ports:
        - containerPort: 9092
          name: external
        - containerPort: 9093
          name: controller
        resources:
{{ toYaml .Values.resources | indent 10 }}
        volumeMounts:
        - name: data
          mountPath: /bitnami/kafka
        readinessProbe:
          tcpSocket:
            port: 9092
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 9092
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
{{- if .Values.persistence.storageClass }}
      storageClassName: {{ .Values.persistence.storageClass }}
{{- end }}
