apiVersion: v1
kind: Service
metadata:
  name: {{ include "solr.fullname" . }}
  labels: {{- include "solr.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  {{- if .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
  {{- end }}
  selector: {{- include "solr.selectorLabels" . | nindent 4 }}
